/*** START - Buttons ***/
button.btn-primary {
  background: #277C3B;
  border: 2px solid #309C49;
  color: #ffffff;
  border-radius: 4px;
  font-size: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
}

button.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active {
  background: #1D5E2C;
  border: 2px solid #267D3B;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(39,124,59,.5);
}
/*** END - Buttons ***/

/*** START - Sections ***/
.container {
  padding: 1.5rem 0;
}

.search-container {
  // padding-left: 15px;
}

.search-input-container {
  margin-top: 32px;
  margin-bottom: 32px;
}

.row-spacing {
  margin-bottom: 16px;
}
/** search results **/
.search-results {
  margin: 0;
  padding: 1.5rem;
  border-radius: 4px;
  background: #031111;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.print-label-container h3 {
  font-size: 1.25rem;
}
/*** END - Sections ***/

/*** START - Forms ***/
label {
  color: #000000;
}

.form-control::placeholder {
  color: #737c7c;
}

.search-input-container .form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 1.5rem 0.375rem 3rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #031111;
  background-color: transparent;
  background-clip: padding-box;
  border: 0 solid #031111;
  border-bottom: 2px solid #031111;
  border-radius: 0;
  transition: all 0.16s ease-in-out;
}

.search-input-container .form-control:focus {
  color: #031111;
  background-color: #fff;
  border-bottom: 4px solid #277C3B;
  outline: 0;
  box-shadow: none;
}

.input-icons span {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0px;
}

.icon {
  padding: 0 12px;
  font-size: 1.5rem;
  min-width: 40px;
  color: #031111;
}

.icon:focus {
  color: #277C3B;
}

.form-check {
  padding-left: 1.5rem;
}

.custom-quantity {
  width: 6rem;
  padding: 0 1rem;
  border: 2px solid #031111;
  border-radius: 0.25rem;
  font-size: 2rem;
  text-align: center;
}

.custom-label-title {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.custom-control-label {
  font-weight: 500;
  font-size: 1rem;
}

.custom-control-label::before {
  background-color: #ffffff;
}

/* This is the default state */
.custom-radio .custom-control-label::before {
  background-color: #ffffff;
  border: 2px solid #031111;
  transition: all 0.16s ease-in-out;
}

/* This is the checked state */
.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::after {
  background-color: #277C3B;  /* green */
  /* this bg image SVG is just a white circle, you can replace it with any valid SVG code */
  background-image: none;
  border-radius: 50%;
  border: 2px solid #277C3B;
}

/* active state i.e. displayed while the mouse is being pressed down */
.custom-radio .custom-control-input:active ~ .custom-control-label::before {
  color: #184E25;
  background-color: #184E25;
}

/* the shadow; displayed while the element is in focus */
.custom-radio .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}

/* start - custom search field */
.custom-search-field:focus {
    color: #031111;
    background-color: #fff;
    border-bottom: 4px solid #277C3B;
    outline: 0;
    box-shadow: none;
}
/* end - custom search field */

/* start - custom drop down */
.custom-select {
  border: 2px solid #031111;
  margin-bottom: 16px;
}
/* end - custom drop down */
/*** END - Forms ***/

/*** START - Juice Bottle ***/
.juice-bottle {
  display: flex;
  margin: 0 auto;
}
/*** END - Juice Bottle ***/

/*** START - Table ***/
.custom-thead {
  background: #031111;
  color: #fff;
}

table.table {
  margin-bottom: 0;
}

.table-wrapper {
  border: 1px solid #031111;
  border-radius: 4px;
  margin-bottom: 1.5rem;
}

table.custom-table {
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px hidden #031111;
}

table.table td {
  border-top: 0 solid #031111;
}

table.table tr {
  border-top: 1px solid #031111;
}

.table-hover tbody tr:hover {
  background-color: rgba(0,0,0,0.05);
}

.ing-icon {
  font-size: 1.5rem;
  padding: 0 0.5rem 0 0;
  display: flex;
}

.test {
  display: flex;
}

$colors: #02C4CC, #8DAE32, #C6D2D0, #614870, #D27973, #A2E5F3,
         #55CDB0, #B598F4, #A28EAE, #E9B191, #A4D797, #C35AE8,
         #456DD5, #868487, #E8735A, #588A4B, #031111, #155462, #CD4631;

@for $i from 1 through length($colors) {
  .ing-color-#{$i} {
    color: nth($colors, $i);
  }
}

.ing-color-nicotine {
  color: #F2BA02;
}

.ing-color-bottle {
  color: #ffffff;
}
/*** END - Table ***/

/*** START - Help Icons ***/
.help-container {
  position: absolute;
}

.hover-help-icon {
  margin-left: -24px;
}

.hover-help {
  display: none;
}

.hover-help-icon:hover + .hover-help {
  position: absolute;
  display: block;
  top: -16px;
  left: 0px;
  background: #ffffff;
  width: 300px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.36), 0px 0px 1px rgba(0, 0, 0, 0.25);
  z-index: 999999;
}
/*** END - Help Icons ***/

/* Datepicker popup icon */
button.calendar, button.calendar:active {
  width: 2.75rem;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
}

