<!-- START - Search Field -->
<div class="container-fluid">
  <div class="container search-container">
    <div class="row">
      <!-- search info -->
      <div class="col-md-8 form-group">
        <!-- add scan button -->
        <div class="row-spacing">
          <button type="button" class="btn btn-primary-custom btn-lg" (click)="openBottleScan()">OPEN NEW BOTTLE</button>
        </div>

        <!-- search fields container -->
        <div class="row input-icons">
          <!-- search fields column -->
          <div class="col-md-8">
            <!-- START - Juice Search -->
            <div class="search-input-container">
              <div class="help-container">
                <span class="far fa-question-circle hover-help-icon"></span>
                <div class="hover-help">
                  Type in the juice name that you are looking for. Then select desired juice from option list.
                </div>
              </div>
              <span class="fas fa-search icon"></span>
              <ng-autocomplete class="form-control input-field" #autocompleteFirst
                               [data]="firstNameList"
                               [searchKeyword]="nameListKey"
                               [placeHolder]="'Search By Juice' "
                               (selected)="selectEvent($event)"
                               (inputChanged)="onChangeSearch($event)"
                               (inputCleared)="onInputCleared()"
                               (inputFocused)="onFocused()"
                               [historyIdentifier]="firstNameListHistory"
                               [debounceTime]="400"
                               [isLoading]="isLoadingNameListFirst"
                               [minQueryLength]="0"
                               [itemTemplate]="itemTemplate"
                               [notFoundTemplate]="notFoundTemplate"
                               [(ngModel)]="searchItem">
              </ng-autocomplete>
              <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.name"></a>
              </ng-template>
              <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>
            <!-- END - Juice Search -->

            <!-- START - Ingredients Search -->
            <div class="search-input-container">
              <div class="help-container">
                <span class="far fa-question-circle hover-help-icon"></span>
                <div class="hover-help">
                  Type in the ingredients name that you are looking for. Then select ingredient from option list.
                </div>
              </div>
              <span class="fas fa-search icon"></span>
              <ng-autocomplete class="form-control input-field"
                               [data]="secondNameList"
                               [searchKeyword]="nameListKey"
                               [placeHolder]="'Search By Ingredients'"
                               (selected)="selectEventSecond($event)"
                               (inputChanged)="onChangeSearchSecond($event)"
                               (inputFocused)="onFocusedSecond()"
                               (inputCleared)="onInputClearedSecond()"
                               [historyIdentifier]="secondNameListHistory"
                               [debounceTime]="400"
                               [isLoading]="isLoadingNameListSecond"
                               [itemTemplate]="itemTemplate"
                               [notFoundTemplate]="notFoundTemplate"
                               [(ngModel)]="searchItemSecond">
              </ng-autocomplete>
            </div>
            <!-- END - Ingredients Search -->
          </div>
          <!-- search dropdowns -->
          <div class="col-md-4">
            <!-- START - Bottle Size -->
            <label for="bottleSizeSelected" class="custom-label-title">Bottle Size</label>
            <select class="custom-select" id="bottleSizeSelected"
                    (change)="changeSize(bottleSizeSelected)"
                    [(ngModel)]="bottleSizeSelected">
              <option *ngFor="let each of sizeRadioButtons" [value]="each">{{each}}mL</option>
            </select>
            <!-- END - Bottle Size -->
            <!-- START - Nicotine Strength -->
            <label for="nicStrengthSelected" class="custom-label-title">Nicotine Strength</label>
            <select class="custom-select" id="nicStrengthSelected"
                    (change)="changeStrength(nicStrengthSelected)"
                    [(ngModel)]="nicStrengthSelected">
              <option *ngFor="let each of strengthRadioButtons" [value]="each">{{each}}mg</option>
            </select>
            <!-- END - Nicotine Strength -->
          </div>
        </div>
      </div>

      <!-- label info -->
      <div class="col-md-4 print-label-container">
        <div *ngTemplateOutlet="labelTable"></div>
      </div>
      <!-- end label info-->
    </div>
  </div>
</div>
<div class="container" >
  <div class="help-container">
    <span class="far fa-question-circle hover-help-icon"></span>
    <div class="hover-help">
      The recipe you have selected will display in this section. It will reflect the recipe name, bottle size, and nicotine strength of the recipe.
    </div>
  </div>
  <div class="row search-results">
    <div class="col-md-8">
      <span class="custom-label-title">Recipe Name:</span><br>
      <h2 class="font-weight-bold">{{searchItem.name}}</h2>
    </div>
    <div class="col-md-2">
      <span class="custom-label-title">Bottle Size:</span><br>
      <h2 class="font-weight-bold" *ngIf="bottleSizeSelected.length > 0; else sizeStrengthNoValue">{{bottleSizeSelected}}mL</h2>
    </div>
    <div class="col-md-2">
      <span class="custom-label-title">Nicotine Strength:</span><br>
      <h2 class="font-weight-bold" *ngIf="nicStrengthSelected.length > 0; else sizeStrengthNoValue">{{nicStrengthSelected}}mg</h2>
    </div>
    <ng-template #sizeStrengthNoValue></ng-template>
  </div>
</div>
<!-- END Search Field -->

<!-- START - Recipe Display -->
<div class="container">
  <div class="row mobile-reverse">
    <div class="col-md-4 align-items-start">
      <div class="help-container">
        <span class="far fa-question-circle hover-help-icon"></span>
        <div class="hover-help">
          The ratio of the ingredients will display in this e-liquid bottle to help you visualize the ratio between recipe ingredients.
        </div>
      </div>
      <!-- Juice Bottle -->
      <svg xmlns="http://www.w3.org/2000/svg" id="bottle"
           x="0px" y="0px" width="160px" height="500px" viewBox="0 0 206.1 719.1"
           enable-background="new 0 0 206.1 719.1" xml:space="preserve" class="juice-bottle">
        <path fill="none" stroke="#000000" stroke-width="4"
              d="M104.2,160.5h83.3c0,0,0-20.5,0-68.7c-67.2-48.3-74-79-74-79h-9.3h-9.3  c0,0-6.8,30.7-74,79c0,48.2,0,68.7,0,68.7H104.2"/>
        <line fill="none" stroke="#000000" stroke-width="4" x1="30.4" y1="100.2" x2="30.4" y2="152"/>
        <line fill="none" stroke="#000000" stroke-width="4" x1="42.2" y1="100.2" x2="42.2" y2="152"/>
        <line fill="none" stroke="#000000" stroke-width="4" x1="53.2" y1="100.2" x2="53.2" y2="152"/>
        <line fill="none" stroke="#000000" stroke-width="4" x1="65" y1="100.2" x2="65" y2="152"/>
        <line fill="none" stroke="#000000" stroke-width="4" x1="75.9" y1="100.2" x2="75.9" y2="152"/>
        <line fill="none" stroke="#000000" stroke-width="4" x1="87.7" y1="100.2" x2="87.7" y2="152"/>
        <line fill="none" stroke="#000000" stroke-width="4" x1="98.7" y1="100.2" x2="98.7" y2="152"/>
        <line fill="none" stroke="#000000" stroke-width="4" x1="110.5" y1="100.2" x2="110.5" y2="152"/>
        <line fill="none" stroke="#000000" stroke-width="4" x1="121.2" y1="100" x2="121.2" y2="151.8"/>
        <line fill="none" stroke="#000000" stroke-width="4" x1="133" y1="100" x2="133" y2="151.8"/>
        <line fill="none" stroke="#000000" stroke-width="4" x1="144" y1="100" x2="144" y2="151.8"/>
        <line fill="none" stroke="#000000" stroke-width="4" x1="155.8" y1="100" x2="155.8" y2="151.8"/>
        <line fill="none" stroke="#000000" stroke-width="4" x1="166.7" y1="100" x2="166.7" y2="151.8"/>
        <line fill="none" stroke="#000000" stroke-width="4" x1="178.5" y1="100" x2="178.5" y2="151.8"/>
        <path fill="none" stroke="#000000" stroke-width="4" stroke-miterlimit="10"
              d="M168.6,171.8H39.7v-11.3v11.3H24.3  c0,0-10.7,13.6,0,30.8h79.9h80.3c10.7-17.1,0-30.8,0-30.8H168.6v-11.3"/>
        <path fill="none" stroke="#000000" stroke-width="4" stroke-miterlimit="10"
              d="M168.5,202.5v15.3c0,4.4,19.5,6.5,19.6,12.9v463.7  c-0.2,12.7-19.2,11.9-19.2,11.9h-65.3h0H39.2c0,0-19,0.8-19.2-11.9V230.8c0-6.4,18.6-8.6,18.6-12.9v-15.3"/>
        <rect *ngFor="let rect of recipeRectangles"
              [attr.x]="rect.x" [attr.y]="rect.y"
              [attr.rx]="rect.rx" [attr.ry]="rect.ry"
              [attr.height]="rect.height" [attr.width]="rect.width"
              [attr.fill]="rect.fill"
        />
      </svg>
    </div>

    <div class="col-md-8">
      <div class="container">
        <div class="help-container">
          <span class="far fa-question-circle hover-help-icon"></span>
          <div class="hover-help">
            This table shows the measurements of recipe ingredients. Each ingredient has a color that will match a color on the e-liquid bottle.
          </div>
        </div>
        <div class="table-wrapper">
          <table class="table table-hover custom-table" aria-describedby="ingredientsTable">
            <thead class="custom-thead">
            <tr>
              <th scope="col">Ingredients</th>
              <th scope="col">Quantity</th>
              <th scope="col">Percentage</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let recipe of recipes">
              <td class="d-flex"><span class="fas fa-circle ing-icon ing-color-{{recipe.color}}"></span> <span class="d-flex">{{recipe.ingredients}}</span></td>
              <td>
                <p *ngIf="recipe.color === 'bottle'">{{recipe.quantity}}</p>
                <p *ngIf="recipe.color !== 'bottle'
                && !(recipe.ingredients.toLowerCase().indexOf('kot,') >= 0 && recipe.ingredients.toLowerCase().indexOf('concentrate') >= 0)">
                  {{recipe.quantity + ' mL'}}</p>
                <p *ngIf="recipe.color !== 'bottle'
                && (recipe.ingredients.toLowerCase().indexOf('kot,') >= 0 && recipe.ingredients.toLowerCase().indexOf('concentrate') >= 0) && recipe.ingredients.toLowerCase().indexOf('850ml') >= 0">
                  {{recipe.quantity  * 850 / 0.75 | number: '1.0-0'}} Pumps</p>
                <p *ngIf="recipe.color !== 'bottle'
                && (recipe.ingredients.toLowerCase().indexOf('kot,') >= 0 && recipe.ingredients.toLowerCase().indexOf('concentrate') >= 0) && recipe.ingredients.toLowerCase().indexOf('960ml') >= 0">
                  {{recipe.quantity  * 960 / 0.75 | number: '1.0-0'}} Pumps</p>
              </td>
              <td>{{recipe.color === 'bottle' ? '' : recipe.percentage | percent }}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <ngx-spinner name="{{spinnerName}}"><p style="color: white">Please Wait.</p></ngx-spinner>
      </div>
    </div>
  </div>
</div>
<!-- END - Recipe Display -->

<!-- START - Bottle Scan Modal -->
<div class="container">
  <ng-template #bottleScanModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-bottleScan-title">Open A New 960mL Bottle</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <p>
            Look for a label on the new 960mL liquid bottle. It should be located on the bottom of the bottle. Scan the barcode.<br>
            <strong>Note: If the barcode isn't scanning, you can enter in the barcode manually.</strong>
          </p>

          <label for="scanProductSku">Product SKU</label>
          <input id="scanProductSku" [(ngModel)]="scanData.productSku" name="scanProductSku" class="form-control" placeholder="Product SKU">

          <label for="scanProductBar">Product BatchID</label>
          <input id="scanProductBar" [(ngModel)]="scanData.batchId" name="scanProductBar" class="form-control" placeholder="Product BatchID">

          <label for="scanEmployeeName">Associate Name</label>
          <input id="scanEmployeeName" [(ngModel)]="scanData.associateName" name="scanEmployee" class="form-control" placeholder="Associate Name" readonly>

          <label for="locationName">Store Location</label>
          <input id="locationName" [(ngModel)]="scanData.locationName" name="scanLocation" class="form-control" placeholder="Location Name" readonly>

          <br>
          <div class="form-control" style='float: left; color: red' *ngIf="isShowAlert"><strong>Error: </strong>Product BatchId input field Empty.</div>

        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close(scanData)">Save</button>
    </div>
  </ng-template>

  <ng-template #confirmModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-confirmation-title">Saving A New Bottle</h4>
      <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p><strong>Are you sure you want to save product as follows?</strong></p>
      <table class="table table-striped" aria-describedby="bottleScanTable">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td style="font-weight: bold">Product SKU</td>
          <td>{{scanData.productSku}}</td>
        </tr>
        <tr>
          <td style="font-weight: bold">Product BatchID</td>
          <td>{{scanData.batchId}}</td>
        </tr>
        <tr>
          <td style="font-weight: bold">Associate Name</td>
          <td>{{scanData.associateName}}</td>
        </tr>
        <tr>
          <td style="font-weight: bold">Store Name</td>
          <td>{{scanData.locationName}}</td>
        </tr>
        </tbody>
      </table>
      <p style="margin-top: 1.5rem;">All information associated to this newly open bottle will be permanently saved.</p>
      <p><span class="text-danger" style="font-weight:bold;">This operation cannot be undone.</span></p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
      <button type="button" ngbAutofocus class="btn btn-danger" (click)="modal.close('Ok click')">Ok</button>
    </div>
  </ng-template>
</div>
<!-- END - Bottle Scan Modal -->

<ng-template #labelTable >
  <div class="input-icons">
    <div class="help-container">
      <span class="far fa-question-circle hover-help-icon"></span>
      <div class="hover-help">
        Use the Print Label button to get a printable label.<br>
        LabelSize: 1x0.875, Scale: 33%, Margins: None.<br>
        Print button will be disable until you select juice.
      </div>
    </div>
  </div>
  <div class="table-wrapper" id="printLabelTable" style="border: none;">
    <table aria-describedby="printSection">
      <tr>
        <th scope="col"></th>
      </tr>
      <tr>
        <td>
          <h3>{{printData.storeName}}</h3>
        </td>
      </tr>
      <tr>{{printData.storeLocation}}</tr>
      <tr *ngIf="printData.name.length > 0">
        <td>
          <h3>{{printData.name}}</h3>
          {{printData.size}}ml&nbsp;&nbsp;&nbsp;&nbsp;{{printData.strength}}mg<br>
          {{printData.currentDate}}<br>
          {{printData.sku}}
        </td>
        <td>
          <qrcode [qrdata]="printData.sku"
          [elementType]="'img'"
          width="10"
          [errorCorrectionLevel]="'M'"></qrcode>
        </td>
      </tr>
    </table>
    <p style="text-align: center" *ngIf="printData.name.length > 0">Lot #{{printData.batchId}}</p>
  </div>

  <div class="ml-auto">
    <button class="btn btn-secondary-custom btn-lg" style="position: absolute; right: 0; bottom: -2rem;"
    [disabled]="printData.name.length === 0"
    printSectionId="printLabelTable"
    ngxPrint>PRINT LABEL</button>
  </div>
</ng-template>

