<header>
  <div class="container light">
    <div class="row">
      <div class="col-md-8 d-flex justify-content-start align-items-center">
        <a href="#" class="site-title">JMX - Juice App</a>
      </div>
      <div class="col-md-4 d-flex justify-content-end align-items-center">
        <div class="btn-group mr-3">
          <button type="button" class="btn btn-secondary" *ngIf="user; else notLogin">{{user.name}}</button>
          <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-secondary dropdown-toggle-split" ngbDropdownToggle></button>
            <div class="dropdown-menu" ngbDropdownMenu *ngIf="isAdmin(); else notAdmin">
              <button ngbDropdownItem (click)="logout()">Logout</button>
              <button ngbDropdownItem (click)="saveRecipesToIdb()">LoadRecipes</button>
              <button ngbDropdownItem (click)="emptyIdbData()">CleanDB</button>
            </div>
            <ng-template #notAdmin>
              <div class="dropdown-menu" ngbDropdownMenu >
                <button ngbDropdownItem (click)="logout()">Logout</button>
              </div>
            </ng-template>
          </div>
        </div>
      </div>

      <ng-template #notLogin>
        <strong><a href="#">Guest</a></strong>
      </ng-template>
    </div>
  </div>
</header>
