<header>
  <div class="container light">
    <div class="row">
      <div class="col-header col-md-4 d-flex justify-content-start align-items-center">
        <a href="#" class="site-title" (click)="openHelp(helpTemplate)">JMX - Juice App</a>
      </div>
      <div class="col-header col-md-4 d-flex justify-content-end align-items-center">
        <button class="btn btn-account" (click)="openAppLocation()">{{appLocation.name}}</button>
      </div>
      <div class="col-header col-md-4 d-flex justify-content-end align-items-center">
        <div ngbDropdown class="d-inline-block" role="group">
          <button class="btn btn-account" id="dropdownMenu" ngbDropdownToggle *ngIf="appAssociate; else notLogin">{{appAssociate.name}}</button>
          <div ngbDropdownMenu aria-labelledby="dropdownMenu" >
            <button ngbDropdownItem (click)="eraseIdbData()" *ngIf="isAdmin()">EraseDB</button>
            <div class="dropdown-divider" *ngIf="isAdmin()"></div>
            <button ngbDropdownItem *ngFor="let item of associateList" (click)="switchAppUser(item)">{{item.name}}</button>
          </div>
        </div>
        &nbsp;&nbsp;<a href="#" class="site-subtitle" (click)="logout()"><span class="fas fa-sign-out-alt"></span></a>
      </div>

      <ng-template #notLogin>
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-account" id="dropdownMenuNotLogin" ngbDropdownToggle>Hello, Guest</button>
          <div ngbDropdownMenu aria-labelledby="dropdownMenuNotLogin">
            <button ngbDropdownItem *ngFor="let item of associateList" (click)="switchAppUser(item)">{{item.name}}</button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</header>

<ng-template #helpTemplate let-modal>
  <div class="modal-header">
    <h4 class="modal-title">How To Use</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ol>
      <li>
        Select a search option to look up a recipe. The default option is <strong>Search Recipe Names</strong> but select <strong>Search Recipe Ingredients</strong> if you wish to search for ingredients instead.
      </li>
      <li>
        In the search field, start typing to find the recipe you are looking for. Recipes that match your search will be displayed below the search field. When you find the recipe you are looking for, click on the recipe name.
      </li>
      <li>
        Next, you will need to select your bottle size and the nicotine strength of the recipe you are making.
      </li>
      <li>
        The recipe name, bottle size, and strength will display below the search fields.
      </li>
      <li>
        Once you’ve selected your recipe, bottle size, and nicotine strength, the recipe ingredients will display in the table below the recipe info. Each ingredient has a color that corresponds to the same color on the e-liquids bottle to help you visualize the ratio of ingredients used in the recipe.
      </li>
      <li>
        When you are ready to print the label, use the search field below the ingredients table to search for the location you are creating the label for. Once you have found your location and have verified that the recipe info is correct, click the <strong>Export Label</strong> button to create PDF of the label that you can print.
      </li>
    </ol>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #appLocationModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-appLocation-title">Choose Store Location</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="location">Store Location</label>
        <ng-autocomplete name="location" id="location"
                         [data]="storeLocations"
                         [searchKeyword]="'name'"
                         [placeHolder]="'Search Store Name'"
                         (selected)="selectEvent()"
                         [historyIdentifier]=""
                         [debounceTime]="400"
                         [isLoading]="isLoading"
                         [minQueryLength]=""
                         [itemTemplate]="itemTemplate"
                         [notFoundTemplate]="notFoundTemplate"
                         [(ngModel)]="locationSelect">
        </ng-autocomplete>
        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.name"></a>
        </ng-template>
        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>

        <br>
        <div class="form-control" style='float: left; color: red' *ngIf="isShowAlert"><strong>Error: </strong>Store Location Illegal.</div>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close(locationSelect)">Save</button>
  </div>
</ng-template>
