<div class="container-fluid section-padding">
  <div class="container">
    <div class="row margin-bottom-32">
        <div class="ml-auto">
          <button type="button" class="btn btn-primary-custom btn-lg" (click)="openBottleScan(bottleScan)">SCAN NEW BOTTLE</button>
        </div>
    </div>

    <ng-template #bottleScan let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-bottleScan-title">Scan A New 960mL Bottle</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <p>
              Look for a label on the new 960mL liquid bottle. It should be located on the bottom of the bottle. Scan the barcode.<br>
              <strong>Note: If the barcode isn't scanning, you can enter in the barcode manually.</strong>
            </p>

            <label for="scanProductName">Product Name</label>
            <input id="scanProductName" [(ngModel)]="scanData.productName" name="scanProductName" class="form-control" placeholder="Product Name">

            <label for="scanProductSku">Product SKU</label>
            <input id="scanProductSku" [(ngModel)]="scanData.productSku" name="scanProductSku" class="form-control" placeholder="Product SKU">

            <label for="scanProductBar">Product BatchID</label>
            <input id="scanProductBar" [(ngModel)]="scanData.batchId" name="scanProductBar" class="form-control" placeholder="Product Barcode">

            <label for="scanEmployeeName">Associate Name</label>
            <input id="scanEmployeeName" [(ngModel)]="scanData.associateName" name="scanEmployee" class="form-control" placeholder="Associate Name">

            <label for="location">Store Location</label>
            <ng-autocomplete name="location" id="location"
                             [data]="storeLocations"
                             [searchKeyword]="'name'"
                             [placeHolder]="'Search Store Name'"
                             (selected)="selectEvent($event)"
                             [historyIdentifier]=""
                             [debounceTime]="400"
                             [isLoading]="isLoading"
                             [minQueryLength]=""
                             [itemTemplate]="itemTemplate"
                             [notFoundTemplate]="notFoundTemplate"
                             [(ngModel)]="scanDataLocationName">
            </ng-autocomplete>
            <ng-template #itemTemplate let-item>
              <a [innerHTML]="item.name"></a>
            </ng-template>
            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>

            <br>
            <div class="form-control" style='float: left; color: red' *ngIf="isShowAlert"><strong>Error: </strong>At least one input field Empty.</div>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close(scanData)">Save</button>
      </div>
    </ng-template>

    <ng-template #confirmModal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-confirmation-title">Saving Bottle Scan</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><strong>Are you sure you want to save product as follows?</strong></p>
        <table class="table table-striped" aria-describedby="bottleScanTable">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="font-weight: bold">Product Name</td>
              <td>{{scanData.productName}}</td>
            </tr>
            <tr>
              <td style="font-weight: bold">Product SKU</td>
              <td>{{scanData.productSku}}</td>
            </tr>
            <tr>
              <td style="font-weight: bold">Product BatchID</td>
              <td>{{scanData.batchId}}</td>
            </tr>
            <tr>
              <td style="font-weight: bold">Associate Name</td>
              <td>{{scanData.associateName}}</td>
            </tr>
            <tr>
              <td style="font-weight: bold">Store Name</td>
              <td>{{scanData.locationName}}</td>
            </tr>
          </tbody>
        </table>
        <p>All information associated to this bottle scan will be permanently saved.</p>
        <p><span class="text-danger" style="font-weight:bold;">This operation cannot be undone.</span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
        <button type="button" ngbAutofocus class="btn btn-danger" (click)="modal.close('Ok click')">Ok</button>
      </div>
    </ng-template>

  </div>
</div>
