.container {
  padding: 1.5rem 0;
}

/* Datepicker popup icon */
button.calendar, button.calendar:active {
  width: 2.75rem;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
}

/*** START - Buttons ***/
/* start - primary */
button.btn-primary-custom {
  background: #DC374B;
  border: 2px solid #DC374B;
  color: #ffffff;
  padding: 8px 40px;
  border-radius: 40px;
  font-size: 1.5rem;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  font-weight: 500;
}

button.btn-primary-custom:hover,
.btn-primary-custom:not(:disabled):not(.disabled):active {
  background: #9a2533;
  border: 2px solid #9a2533;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}

.btn-primary-custom:focus,
.btn-primary-custom:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,0,0,0);
}
/* end - primary */

/* start - secondary */
button.btn-secondary-custom {
  background: #309C49;
  border: 2px solid #309C49;
  color: #ffffff;
  padding: 8px 40px;
  border-radius: 40px;
  font-size: 1.5rem;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  font-weight: 500;
}

button.btn-secondary-custom:hover,
.btn-secondary-custom:not(:disabled):not(.disabled):active {
  background: #156126;
  border: 2px solid #156126;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}

.btn-secondary-custom:focus,
.btn-secondary-custom:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,0,0,0);
}

/* start - account */
button.btn-account {
  background: transparent;
  border: 0;
  color: #ffffff;
  padding: 0px;
  border-radius: 0px;
  font-size: 1rem;
  letter-spacing: 0.5px;
  text-transform: none;
  font-weight: 500;
}

button.btn-account:hover,
.btn-secondary-custom:not(:disabled):not(.disabled):active {
  text-decoration: underline;
  color: grey;
  /*background: #156126;
  border: 2px solid #156126;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);*/
}

button.btn-account:focus,
button.btn-account:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,0,0,0);
}
/* end -secondary */

.btn-spacing {
  margin-top: 24px;
}
/*** END - Buttons ***/
