<div class="container-fluid gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h1>How To Use</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla purus leo, lobortis sit amet pharetra eget, interdum nec orci. Etiam nec leo ac ex tincidunt congue non quis dolor. Aenean id laoreet ex. Nunc eu nulla luctus, sollicitudin neque rutrum, consectetur tellus. Fusce orci nisl, rutrum in viverra sed, gravida sit amet odio. Aliquam sed metus risus.</p>
      </div>
      <div class="col-lg-4">
        <h2>Steps</h2>
        <ol>
          <li>Search for a recipe</li>
          <li>Select the bottle size and nicotine strength</li>
          <li>Fill the bottle</li>
          <li>Print the label</li>
        </ol>
      </div>
    </div>
  </div>
</div>
