<div class="container-fluid gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h1>How To Use</h1>
        <p>Vapes, vaporizers, vape pens, hookah pens, electronic cigarettes (e-cigarettes or e-cigs), and e-pipes are some of the many terms used to describe electronic nicotine delivery systems (ENDS). ENDS are noncombustible tobacco products.<br>
          These products use an “e-liquid” that may contain nicotine, as well as varying compositions of flavorings, propylene glycol, vegetable glycerin, and other ingredients. The liquid is heated to create an aerosol that the user inhales.<br>
          ENDS may be manufactured to look like conventional cigarettes, cigars, or pipes. Some resemble pens or USB flash drives. Larger devices, such as tank systems or mods, bear little or no resemblance to cigarettes.</p>
      </div>
      <div class="col-lg-4">
        <h2>Steps</h2>
        <ol>
          <li>Search for a recipe</li>
          <li>Select the bottle size and nicotine strength</li>
          <li>Fill the bottle</li>
          <li>Print the label</li>
        </ol>
        <button class="btn-info" (click)="loadRecipes()">LoadRecipes</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn-info" (click)="getProductNameList()">ProductNames</button>

      </div>
    </div>
  </div>
</div>
