.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(52,58,64,.6);
  vertical-align: middle;
  text-align: center;
}

.progress-bar-content {
  text-align: center;
}

.progress-status {
  display: inline-block;
  color: #155462;
  text-align: center;
  width: fit-content;
  line-height: 3rem;
}

.progress-percent-bg {
  display: block;
  min-width: 600px;
  height: 10px;
  border-radius: 5px;
  border: 1px solid #656565;
  padding: 0;
  margin: 0;
  text-align: left;
  background: none;
  z-index: 1010;
}

.progress-percent {
  display: block;
  min-height: 8px;
  max-height: 8px;
  width: 0;
  border-radius: 4px;
  background-color: #1665dc;
  z-index: 1020;
  padding: 0;
  margin: 0;
}

