<div class="progress-bar" *ngIf="progressService.loading">
  <div class="progress-bar-content">
    <div class="progress-status">
      {{progressService.progressMessage}}
      <br>
      <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
      <br>
      <div class="progress-percent-bg">
        <div class="progress-percent" [ngStyle]="{ 'width': progressService.progressWidth }"></div>
      </div>
    </div>
  </div>
</div>
