<div class="progress-bar" *ngIf="progressService.loading">
  <div class="progress-bar-content">
    <div class="progress-status">
      <h1>{{progressService.progressMessage}}</h1>
      <br>
      <br>
      <div class="progress-percent-bg">
        <ngb-progressbar type="info"
                         [value]="progressService.progressValue"
                         [height]="progressService.height"
                         [showValue]="true"></ngb-progressbar>
      </div>
    </div>
  </div>
</div>
