/*** START - General ***/
html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #000000;
}

.dark {
  color: #031111;
}

.light,
.light a {
  color: #ffffff;
}

.gray-bg {
  background: #f5f5f5;
}

.margin-bottom {
  margin: 0 0 1.5rem 0;
}

ol {
  padding: 0;
  list-style-position: inside;
}

ol li {
  margin: 0 0 12px 0;
}
/*** END - General ***/

/*** START - Type ***/
p {
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0.25px;
}

h1 {
  font-size: 3rem;
  line-height: 150%;
  letter-spacing: 0;
  font-weight: 700;
}

h2 {
  font-size: 2.125rem;
  line-height: 150%;
  letter-spacing: 0.25px;
}

h3 {
  font-size: 2rem;
  line-height: 150%;
  letter-spacing: 0;
}

.modal-body ol {
  padding-left: 1.5rem;
}
/*** END - Type ***/

/*** START - Header ***/
header {
  background: #031111;
  color: #ffffff;
}

.site-title {
  font-size: 1.5rem;
  line-height: 150%;
  font-weight: 700;
}
/*** END - Header ***/

/*** START - Buttons ***/
/* start - secondary */
button.btn-secondary {
  background: #309C49;
  border: 2px solid #309C49;
  color: #ffffff;
  padding: 8px 40px;
  border-radius: 40px;
  font-size: 1.5rem;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  font-weight: 500;
}

button.btn-secondary:hover,
.btn-secondary:not(:disabled):not(.disabled):active {
  background: #156126;
  border: 2px solid #156126;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}

.btn-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus {
      box-shadow: 0 0 0 0.2rem rgba(0,0,0,0);
}
/* end - secondary */
/*** END - Buttons ***/

/* autocomplete search field */
.autocomplete-container::ng-deep {
  box-shadow: none!important;
}

/*** START - Containers ***/
.row {
  margin-right: 0px!important;
  margin-left: 0px!important;
}

/*@media (max-width: 648px) {
  .row {
    margin-right: 0px!important;
    margin-left: 0px!important;
  }
}*/
/*** END - Containers ***/
