/* You can add global styles to this file, and also import other style files */
/* remove drop shadow from search container */
.ng-autocomplete .autocomplete-container {
  box-shadow: none!important;
}

.ng-autocomplete .autocomplete-container .input-container input {
  font-size: 1rem;
  color: #031111;
}

.ng-autocomplete .autocomplete-container .not-found {
  margin-top: 8px;
}