/* You can add global styles to this file, and also import other style files */
/* remove drop shadow from search container */
.ng-autocomplete .autocomplete-container {
  box-shadow: none!important;
}

.ng-autocomplete .autocomplete-container .input-container input {
  font-size: 1rem;
  color: #031111;
  height: initial;
  line-height: initial;
}

.ng-autocomplete .autocomplete-container .not-found {
  margin-top: 8px;
}

ul {
	padding-left: 1.25rem;
	list-style-type: none;
}

.form-group {
	margin-bottom: 0;
}

input.form-control {
	font-size: 16px;
}

/* fix for modal input fields */
.modal-body .ng-autocomplete .autocomplete-container .input-container input {
  padding: 8px;
}

/*** START - Buttons ***/
/* start - primary */
button.btn-primary-custom {
  background: #DC374B;
  border: 2px solid #DC374B;
  color: #ffffff;
  padding: 8px 40px;
  border-radius: 40px;
  font-size: 1rem;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  font-weight: 500;
}

button.btn-primary-custom:hover,
.btn-primary-custom:not(:disabled):not(.disabled):active {
  color: #ffffff;
  background: #9a2533;
  border: 2px solid #9a2533;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}

.btn-primary-custom:focus,
.btn-primary-custom:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,0,0,0);
}
/* end - primary */

/* start - secondary */
button.btn-secondary {
  background: #309C49;
  border: 2px solid #309C49;
  color: #ffffff;
  padding: 8px 40px;
  border-radius: 40px;
  font-size: 1.5rem;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  font-weight: 500;
}

button.btn-secondary:hover,
.btn-secondary:not(:disabled):not(.disabled):active {
  background: #156126;
  border: 2px solid #156126;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}

.btn-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus {
      box-shadow: 0 0 0 0.2rem rgba(0,0,0,0);
}

/* start - secondary custom */
button.btn-secondary-custom {
  background: #309C49;
  border: 2px solid #309C49;
  color: #ffffff;
  padding: 8px 40px;
  border-radius: 40px;
  font-size: 1rem;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  font-weight: 500;
}

button.btn-secondary-custom:hover,
.btn-secondary-custom:not(:disabled):not(.disabled):active {
  background: #156126;
  color: #ffffff;
  border: 2px solid #156126;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}

.btn-secondary-custom:focus,
.btn-secondary-custom:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,0,0,0);
}

/* start - account */
button.btn-account {
  background: transparent;
  border: 0;
  color: #ffffff;
  padding: 0px;
  border-radius: 0px;
  font-size: 1rem;
  letter-spacing: 0.5px;
  text-transform: none;
  font-weight: 500;
}

button.btn-account:hover,
.btn-secondary-custom:not(:disabled):not(.disabled):active {
  text-decoration: underline;
  color: grey;
}

button.btn-account:focus,
button.btn-account:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(0,0,0,0);
}

.btn-spacing {
  margin-top: 24px;
}
/* end - account */

/*** START - Modal ***/
.modal-header {
  border: 0px;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.modal-title {
  font-size: 36px;
  line-height: 1.5em;
  color: #031111;
}

.modal-body {
  padding: .5rem 1.5rem 1.5rem 1.5rem;
}

.modal-body label {
  font-weight: 600;
  margin-top: .5rem;
}

.modal-footer {
  border: 0px;
}
/*** END - Modal ***/

.modal-body input.ng-pristine {
  border: 1px solid #031111!important;
  border-radius: 4px;
}

/*** START - Responsive ***/
@media (max-width: 767px) {
  /* containers */
  .row {
    width: 100%;
    margin: 0;
  }

  .mobile-reverse {
    flex-direction: column-reverse;
  }

  .container-fluid {
    padding: 0 2rem;
  }

  .container.search-container {
    padding-left: 0;
  }

  .container-search-results {
    width: auto;
    margin: 0 2rem;
  }

  .col-md-4,
  .col-md-8 {
    padding: 0 2rem;
  }

  /* button */
  button.btn-primary-custom {
    font-size: 1rem;
  }
}
/*** END - Responsive ***/